name: Deploy Dist
on: [push,workflow_dispatch] #google github action events to know all the events that trigger workflows

#we can also use this syntax for on
# on:
#     - push
#     - workflow_dispatch
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              run: | #to run multiple commands this pipe sign (|) is needed, things written within {{}} are expression this is expression syntax used for using context provided by github like here "github" that we used is a context
                echo "cloning repo..."
                echo "${{toJson(github)}}" 
                git clone "https://github.com/${{github.repository}}.git"
            #see github marketplace for using already build github actions by other developer like one for cloning repository
            #   uses: actions/checkout@v4
            #google expression github actions
            #skip workflow command git commit -m "comment added [skip ci]"